@font-face {
    font-family: cocaColaFont;
    src: url(../assets/fonts/loki_cola/LOKICOLA.TTF);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    margin-top: 3px;
    color: #C8102E !important;
}

.logo a{
    color: #C8102E !important;
}
    
.logo h1 {
    font-family: cocaColaFont; /* You don't need to repeat this for each media query as it is propagated */
    font-size: 51px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: -15px;
    display: inline;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
}
    
.logo h2 {
    font-family: cocaColaFont;
    font-size: 51px;
    margin-top: -6px;
    margin-bottom: -15px;
    display: inline;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: left;
}
    
.logo h3 {
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: -5px;
    display: inline;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
}
    
.logo p {
    font-size: 15px; /* You may have to tweak this to get a good fit */
    margin-top: 45px; /* You may have to tweak this to get a good fit */
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px 20px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
    position: relative;
}

header nav ul li a {
    color: #ff0000;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: white;
    background-color: #ff0000;
    border: 2px solid #ff0000;
}

header nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding: 12px 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
}

header nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

header nav .dropdown-content a:hover {
    background-color: #ff0000;
}

header nav ul li:hover .dropdown-content {
    display: block;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #ff0000;
    border-radius: 5px;
    overflow: hidden;
    height: 30px;
    margin-right: 15px;
}

.search-box {
    border: none;
    padding: 5px;
    outline: none;
    font-size: 16px;
}

.search-button {
    background: none;
    border: none;
    color: #ff0000;
    padding: 5px 10px;
    cursor: pointer;
}

.search-button i {
    font-size: 16px;
}

.search-button:hover {
    color: #c00;
}

.cart-button {
    background: none;
    border: none;
    color: #ff0000;
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
    transition: color 0.3s ease;
}

.cart-button:hover {
    color: #c00;
}

#main_3d_image {
    background-image: url(../assets/images/coke_banner.jpg);
    background-repeat: no-repeat;
    height: 201px;
}

#main_text {
    float: left;
    margin: 5%;
    width: 90%;
    display: block;
    background-color: rgba(255,255,255,0.6);
    padding: 10px;
    border-radius: 5px;
}
#main_text h2 {
    color: rgba(0,102,153,1);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}
#main_text h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#main_text p {
    font-size: 12px;
    margin: 0px;
    line-height: 1.2;
} 

/* Media queries for responsiveness */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 20px 10px;
    }

    header .logo {
        margin-bottom: 10px;
    }

    header nav {
        display: none; /* Hide the nav initially on mobile */
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .nav-buttons {
        flex-direction: column;
        margin-top: 10px;
    }

    .menu-icon {
        display: flex; /* Display the hamburger menu icon */
        cursor: pointer;
        font-size: 24px;
        color: #ff0000;
    }

    .menu-icon:hover {
        color: #c00;
    }

    .show-nav {
        display: flex; /* Show the nav when menu icon is clicked */
    }
}



.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f9f9f9;
}

.hero .content {
    max-width: 50%;
    margin-left: 20px;
}

.hero .content h1 {
    font-size: 48px;
    color: #ff0000; /* Default color for the whole h1 */
    margin: 0;
}

.hero .content h1 .black-text {
    color: #000000; /* Color for the word 'Always' */
    
}


.hero .content p {
    font-size: 18px;
    color: #333;
    margin: 20px 0;
}

.hero .btn {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.hero .image img {
    max-width: 100%;
}

/* CSS for the slideshow section */
.slideshow {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.slideshow-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.show {
    display: block;
}
.hero {
    background-color: #f8f9fa; /* Light background for the hero section */
    padding: 10px 0;
    height: 600px;
}

.card-body {
    background-color: #ffffff; /* Card background color */
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto; /* Center the card horizontally */
}

.model3D {
    position: relative;
    width: 100%;
    height: 100%px; /* Adjust height as needed */
    background: linear-gradient(to bottom, #ececec, #ffffff); /* Gradient background */
    border: 2px solid #ddd; /* Border to frame the X3D model */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow to give depth */
    overflow: hidden;
}

.x3d {
    width: 100%;
    height: 100%;
}

#main_text {
    float: left;
    margin: 5%;
    width: 90%;
    display: block;
    background-color: rgba(255,255,255,0.6);
    padding: 10px;
    border-radius: 5px;
}
#main_text h2 {
    color: rgba(0,102,153,1);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}
#main_text h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#main_text p {
    font-size: 12px;
    margin: 0px;
    line-height: 1.2;
} 

/* Animation for the X3D model */
/* @keyframes rotateModel {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.model3D x3d {
    animation: rotateModel 20s infinite linear;
} */
/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }


    .nav-links.show-nav {
        display: flex;
    }
    
    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 10px 0;
    }
    
    .hamburger {
        display: block; /* Show the hamburger icon on mobile */
        cursor: pointer;
        font-size: 24px;
        color: #C8102E;
    }

    .logo {
        flex: 1;
    }

    .hero {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .hero .content {
        max-width: 100%;
    }

    .hero .content h1 {
        font-size: 32px;
    }

    .hero .content p {
        font-size: 16px;
    }

    .hero .image {
        margin-top: 20px;
    }

    .hero .image img {
        max-width: 80%;
    }

    .logo h1 {
        font-size: 36px;
        margin-top: 0;
        margin-bottom: -10px;
    }

    .logo h2 {
        font-size: 36px;
        margin-top: 0;
        margin-bottom: -10px;
    }

    .logo h3 {
        font-size: 28px;
        margin-top: 0;
        margin-bottom: -5px;
    }

    .logo p {
        font-size: 12px;
        margin-top: 30px;
    }
}

@media (min-width: 769px) {
    .hamburger {
        display: none; /* Hide the hamburger icon on larger screens */
    }
    
}


@media (max-width: 480px) {
    .logo {
        text-align: center; /* Ensure the logo is centered on very small screens */
    }

    .logo h1,
    .logo h2 {
        font-size: 24px;
        display: block; /* Stack the text vertically */
    }

    .logo h3 {
        font-size: 20px;
        display: block; /* Stack the text vertically */
    }

    .logo p {
        font-size: 10px;
        margin-top: 20px;
    }
}
